* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
.row{
   --bs-gutter-x: 0rem;
}
@font-face {
  font-family: "galcial";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
  font-family: "galcial-bold";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
}
::-webkit-scrollbar {
  display: none;
}
.nav-inner {
  display: flex;
  justify-content: space-between;
}
.nav-inner {
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
}

.navbar-nav .nav-link {
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 70px;
  margin-left: 70px;
  font-family: "galcial", sans-serif;
}
.navbar-brand {
  order: 0;
}
.navbar-nav {
  order: 0;
  margin-left: auto;
}
.logo {
  width: 50px;
}
.maindiv {
  background-image: url("/image/bg1.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 100;
  color: white;
}
.maindiv h1 {
  font-weight: 800;
  letter-spacing: 4px;
  font-family: "galcial-bold", sans-serif;
  font-size: 60px;
}
.maindiv h6 {
  letter-spacing: 4px;
  font-weight: 400;
  color: #c6a586;
  font-family: "galcial", sans-serif;
  font-size: 15px;
}

.maindiv h1 .brown {
  color: #917f66;
}
.maindiv .info {
  padding-left: 100px;
  margin-top: 250px;
}
.navbar-toggler-icon {
  color: white;
}
.hiremenbtn {
  border: 1px solid white;
  color: white;
  border-radius: 0px;
  padding: 10px 70px;
  margin-top: 70px;
}
.hiremenbtn:hover {
  border: 1px solid #c6a586;
  color: #c6a586;
}
.elementbg {
  background-image: url("/image/elementbg.png");
  background-color: #272727;
  height: fit-content;
  background-size: contain;
  background-position: center;
}
.about {
  padding: 100px 170px 100px 170px;
  letter-spacing: 3px;
}
.about .title {
  font-weight: 700;
  margin-bottom: 60px;
}
.about .brown {
  color: #c6a586;
}
.personal-info {
  padding: 0px 75px;
}
.personal-info h1 {
  color: white;
  font-size: 23px;
  font-family: "galcial-bold", sans-serif;
}
.personal-info h2 {
  color: #c6a586;
  font-size: 15px;
  font-weight: 600;
  font-family: "galcial", sans-serif;
  margin-top: 15px;
}
.personal-info p {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: 500;
  font-family: "galcial", sans-serif;
  margin-top: 30px;
}

.education-info {
  padding: 0px 70px;
}
.education-info .school {
  width: 60px;
}
.education-info h1 {
  font-family: "galcial-bold", sans-serif;
  color: white;
  font-size: 23px;
}
.education-info h2 {
  font-family: "galcial", sans-serif;
  color: #c6a586;
  font-size: 13px;
  font-weight: 500;
  margin: 15px 0px;
}
.education-info h3 {
  font-family: "galcial", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.education-info .contact {
  width: 40px;
  margin-top: 30px;
}
.education-info h4 {
  color: white;
  font-family: "galcial-bold", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 600;
}
.education-info h5 {
  color: white;
  font-family: "galcial-bold", sans-serif;
  color: #c6a586;
  font-size: 12px;
  margin-top: 15px;
  font-weight: 600;
}
.myimg {
  width: 90%;
  margin: 0px auto;
  border-radius: 10px;
}
.certificate {
  margin-top: 50px;
}
.certificate h1 {
  color: white;
  font-family: "galcial-bold", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}
.cert-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "galcial-bold", sans-serif;
}
.cert-box h2 {
  color: #c6a586;
  font-size: 20px;
}
.cert-box h3 {
  color: white;
  font-size: 15px;
}
.cert-box h4 {
  color: white;
  font-size: 10px;
  font-family: "galcial", sans-serif;
}
.cert-box a {
  font-size: 10px;
  font-family: "galcial", sans-serif;
}
.myimg-div {
  text-align: end;
}
.contact-container {
  background-image: url("/image/aboutbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 100px 150px;
}
.contact-container .inner-div {
  backdrop-filter: blur(30px);
 min-height: 80vh;
}
.contact-container label {
  font-family: "galcial", sans-serif;
  letter-spacing: 3px;
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.contact-container input {
  background-color: transparent;
  border: 0;

  padding: 3px 5px;
  color: #c6a586;
  border-bottom: 1px solid rgb(153, 153, 153);
  margin-bottom:50px;
}
.contact-container input::placeholder {
  color: #c6a586;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 9px;
}
.contact-form h3 {
  font-family: "galcial-bold", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
.contact-form h3 span {
  text-align: center;
  color: #c6a586;
}
.contact-form {
  margin-top: 100px;
  padding: 20px 80px;
  letter-spacing: 3px;
  font-family: "galcial", sans-serif;
}
.contact-form button{
  border: 1px solid white;
  color:white;
  padding: 7px 30px;
  margin-top: 30px;
  font-size: 10px;
  background-color:transparent;
}
.email-input{
  margin-left: 107px;

}
.short-input{
  width: 100%;
  margin-right: 50px;
}
.long-input{
  width: 100%;
  margin-right: 50px;
}
@media screen and (max-width: 982px) {
  .nav-inner {
    padding: 20px 20px;
  }

  .navbar-nav .nav-link {
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 7px;
    font-weight: 400;
    border-bottom: 1px solid rgb(56, 56, 56);
  }
  .maindiv .info {
    padding-left: 50px;
    margin-top: 200px;
  }
  .offcanvas-title {
    margin-left: -7px;
  }
}
@media screen and (max-width: 440px) {
  .maindiv h1 {
    font-size: 32px;
  }
  .maindiv .info {
    padding: 0px 35px;
    margin-top: 200px;
  }
  .maindiv h6 {
    font-size: 9px;
  }
  .hiremenbtn {
    border: 1px solid white;
    color: white;
    border-radius: 0px;
    padding: 5px 50px;
    margin-top: 34px;
    font-size: 13px;
  }
  .about {
    padding: 40px 10px 100px 10px;
  }
  .about .title {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .personal-info {
    padding: 0px 30px;
    text-align: center;
  }
  .personal-info h1 {
    color: white;
    font-size: 20px;
    font-family: "galcial-bold", sans-serif;
  }
  .personal-info h2 {
    font-size: 15px;
    margin-top: 15px;
  }
  .personal-info p {
    font-size: 10px;
    line-height: 1.8;
  }
  .education-info {
    padding: 0px 30px;
  }
  .education-info .school {
    width: 40px;
  }
  .education-info h1 {
    font-size: 19px;
  }
  .education-info h2 {
    font-size: 11px;
    margin: 15px 0px;
  }
  .education-info h3 {
    font-size: 10px;
  }
  .education-info .contact {
    width: 28px;
    margin-top: 20px;
  }
  .education-info h4 {
    font-size: 11px;
    margin-top: 15px;
  }
  .education-info h5 {
    font-size: 7px;
    margin-top: 8px;
    font-weight: 600;
  }
  .myimg-div {
    text-align: center;
    margin-top: 30px;
  }
  .myimg {
    width: 80%;
  }

  .certificate {
    margin-top: 30px;
  }
  .certificate h1 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .cert-box h2 {
    color: #c6a586;
    font-size: 13px;
  }
  .cert-box h3 {
    color: white;
    font-size: 10px;
  }
  .cert-box h4 {
    color: white;
    font-size: 7px;
    font-family: "galcial", sans-serif;
  }
  .cert-box a {
    font-size: 7px;
    font-family: "galcial", sans-serif;
  }
  .contact-container {
    padding: 20px 10px;
  }
  .btn-div{
    text-align: center;
  }
  .contact-form {
    padding: 20px 30px;
  }
  .email-input{
    margin-left: 0px;
  
  }
  .short-input{
    width: 100%;
    margin-right: 50px;
  }
  .long-input{
    width: 100%;
    margin-right: 50px;
  }
  .contact-form {
    margin-top: 20px;
 
  }
}
