@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "glacial-Regular";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("otf");
}
@font-face {
  font-family: "glacial-Bold";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
.maindiv {
  background-image: url("/image/bg1.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "glacial-Bold", sans-serif;
  font-weight: 100;
  color: white;
}
.aboutdiv {
  background-image: url("/image/aboutbg.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.innerdiv {
  backdrop-filter: blur(18px);
  font-family: "glacial-Bold", sans-serif;
}
.innerdiv h1 {
  color: white;
  font-weight: 700;
  font-size: 2cm;
  letter-spacing: 5px;
}
.innerdiv h3 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
}
.innerdiv span {
  color: #af7e64;
}
.innerdiv h2 {
  color: #af7e64;
  font-weight: 500;
  font-size: 20;
}
